#footer1{
    padding-top: 40px;
    min-height: 200px;
    color: #ffffff;
    background-color: #ed1c24;
}

#footer1 h3{
    text-align: center;
    text-transform: uppercase;
}

/*#footer1 .input-box {*/
    /*margin-right: 10px;*/
    /*padding-left: 10px;*/
    /*height: 40px;*/
    /*width: 100%;*/
    /*color: #000000;*/
    /*background-color: #ffffff;*/
/*}*/
#footer1 .input-box button{
    color: #ffffff;
}
#footer1 .input-box .input-group-addon{
    background-color: #ffffff;
    color: #000000;

}
#footer1 input {
   height: 38px;
}
#footer1 form button {
    background-color: #000000;
    border: none;
    height: 39px;
    width: 100%;
}
#footer1 .follow {
    text-align: center;
    padding: 0 20px;
}
#footer1 .follow a{
    color: #ffffff;
    font-size: 40px;
    margin: 0 10px;
}
#footer2 {
    color: #7d7d7d;
    padding-top: 60px;
    min-height: 220px;
    background-color: #ffffff;
}
#footer2 .logo{
    text-align: center;
    padding: 20px 5px;
}
#footer2 .menu a{
    text-transform: uppercase;
    color: #7d7d7d;
    text-decoration: none;
}
#footer2 .info p{
    text-align: right;

}
#footer2 ul{
    list-style-type: none;
}
#footer2 ul li {
    padding: 5px 0;
}

@media (max-height: 768px) {
    #footer1 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #footer1 .follow a {
        font-size: 20px;
        margin: 0 5px;
    }
    #footer1 h3 {
        font-size: 20px;
    }
    #footer2 {
        padding-top: 20px;
    }
}