#header1 {
    min-height: 130px;
    background-color: #113366;
    padding: 10px 0;
}

.menu {
    text-transform: uppercase;
}
.menu .navbar {
    padding-top: 5px;
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.menu .navbar-default .navbar-nav > li:last-child{
    border-right: none;
}
.menu .navbar-default {
    background-color: #113366;
    border-color: #e7e7e7;
}
.menu .navbar-default .navbar-nav > li > a {
    color: #cdd3de;
}
.menu .navbar-default .navbar-nav > .active > a,
.menu .navbar-default .navbar-nav > .active > a:hover,
.menu .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;

    background: none;
}
.menu .navbar-default .navbar-nav > li > a:hover,
.menu .navbar-default .navbar-nav > li > a:focus {
    /*font-size: 10px;*/
    color: #ffffff;
    background-color: transparent;
}
.menu ul {
    width: 100%;
}
.menu .nav > li > a {
    position: relative;
    padding: 10px 7px;
}

.menu {
    width: 100%;
    margin-top: 15px;

}
.menu .navbar {
    border-bottom: solid 1px #8899b3;
    border-top: solid 1px #8899b3;
}
#logo img{
    background: #113366;
}

#lang {
    padding-top: 5px;
    /*padding-right: 30px;*/
    color: #cdd3de;
    text-align: right;
}

#lang select{
    background-color:#113366;
    border: none;
}

#header2 img {
    width: 100%;
}
.navbar-toggle {
    margin-right: 0;
}
.menu .right .navbar-toggle {
    float: left;
}

/*.menu .navbar {*/
    /*border-bottom: none !important;*/
    /*border-top: none !important;*/
/*}*/
@media (min-width: 319px) {
    #logo {
        margin-top: 15px;
        text-align: center;
        /*position: relative;*/
        /*z-index: 1;*/
        /*top: 15px;*/
        width: 100%;
        /*right: 48%;*/
    }
    .navbar-nav i{
        display: none;
    }
    .menu .navbar {
        padding-top: 0;
    }
}
    @media (min-width: 768px) {
        .menu .navbar {
            padding-top: 5px;
        }
    }
@media (min-width: 1200px) {
    .navbar-nav i{
        display: initial;
    }
    #logo {
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 40px;
        width: 10%;
        background-color: #113366;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .menu .nav > li > a {
    font-size: 12px;
    }
    .menu .navbar li:nth-child(4){
    margin-right: 100px;
    }
    .menu .navbar li:nth-child(5){
    margin-left: 100px;
    }
    .menu ul li {
        width: 10%;
    }
    .menu ul li:nth-child(5),
    .menu ul li:nth-child(6),
    .menu ul li:nth-child(7),
    .menu ul li:nth-child(8){
        text-align: right;
    }
}