a {
    text-decoration: none;
}
#main1 {
    background-color: #ffffff;
    height: 240px;
}

.category-heading {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 15px;
}

#main1 .category-favorite {
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

#main1 .category-favorite img{
    width: 100%;
    height: 100%;

}
#main1 .background1 {
    background-color: #00b4ff;
}
#main1 .background2 {
    background-color: #d679d7;
}
#main1 .background3 {
    background-color: #79d7c9;
}
#main1 .background4 {
    background-color: #d78d79;
}
#main1 .background5 {
    background-color: #79d780;
}
#main1 .category-favorite a:hover img{
    opacity: 0;
}
#main1 .favorite-center {
    margin: 0;
    position: absolute;
    top:35px;
    width: 100%;
    text-align: center;
}

#main1 .favorite-name {
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;

}



#main2 .category-post {

    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 280px;
}
.category-post a {
    /*color: #ffffff;*/
    text-decoration: none;
}
.category-post a:hover {
    color: #fa0;
}
.thumbnail {
    box-shadow: -0 -0 6px 0px #888888;
    height: inherit;
    /*border: none;*/
    padding: 0;
}
.thumbnail img{
    height: 160px;
    padding: 5px;
}
.category-post-content {
    height: 88px;
    padding: 10px;
}
.category-post-title {
    height: 45px;

}
.category-post-title a{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.stars {
    position: relative;
    padding: 5px 0;
}
.stars .star-off {
    color: #e4e4e4;
}
.stars .star-on {
    color: #fa0;
}
.price{
    padding: 5px 0;
    color: #fa0;
    font-weight: bold;
}
.count-user {
    height: 30px;
    padding: 5px 10px;
    color: #999999;
    background-color: #f2f2f2;
}
.category-post .row {
    margin: 0;
}


.btn-default {
    width: 100%;
    height: 50px;
    color: #ffffff;
    background-color: #ffaa00;
    border-color: #ccc;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #ffaa00;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ffaa00;
    border-color: #adadad;
}
.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: #ffaa00;
    border-color: #8c8c8c;
}

.show-more {
    padding: 30px 15px;
}